<% content_for :header do %>
	<%= render :partial => 'admin/shared/main_menu' %>
	<div id="sub_nav">
		<ul>
			<li>
				<%= link_to 'Create Page', new_admin_page_path %>
			</li>
		</ul>
	</div>
<% end %>
<div id="content_centered">
	<div id="search_menu">
		<%= render :partial => 'admin/shared/search/pages/ajax' %>
	</div>
	<div id="search_results">
		<%= render :partial => "search_results" %>
	</div>
</div>