<h4>Site Analytics</h4>
<table class="table" border="0" cellpadding="0" cellspacing="0">
	<thead>
		<tr>
			<th></th>
			<th>Page Views</th>
			<th></th>
		</tr>
	</thead>
	<tfoot>
		<tr>
			<td colspan="5">
				
			</td>
		</tr>
	</tfoot>
	<tbody>
		<td></td>
		<td>
		</td>
	</tbody>
</table>