<div id="footer">
	<span class="left">
		<%= Settings.site_name %>, <%= Settings.site_tagline %>
	</span>
	<span class="right">
		<a href="#" class="toplink" title="Go to the top of this page.">
			<img src="/images/icons/arrow_up.png" alt="Go to the top of this page." />
		</a>
	</span>
</div>