<li class="tag copyForm">
	<span class="tag_delete">
		<%- unless f.object.new_record? -%>
		<%= f.check_box :_delete, :class => "tip", :title => "Mark this tag for deletion." %>
		<%- else -%>
		<a href="#delete" class="removeChild" title="Remove this tag field."><%= image_tag("/images/icons/delete.png") %></a>
		<%- end -%>
	</span>
	<%= f.text_field :name, :style => "width: 220px;", :class => 'textfield tags-input' %>
</li>