<div class="clear">&nbsp;</div>
<h4 class="toggler">Site Information</h4>
<div class="attribute_box box_toggle">
	<div class="attributes_left">
		<p>
			<strong>Title</strong> : <%= @preference.title %>
		</p>
		<p>
			<strong>Tagline</strong> : <%= @preference.tagline %>
		</p>
	</div>
	<div class="attributes_right">
		<p>
			<strong>Blog Title</strong> : <%= @preference.blog_title %>
		</p>
	</div>
	<div class="clear">&nbsp;</div>
</div>
<h4 class="toggler">Google Analytics</h4>
<div class="attribute_box box_toggle">
	<p>
		<strong>Key</strong> : <%= @preference.analytics_key %>
	</p>
</div>