<% content_for :header do %>
	<%= render :partial => 'admin/shared/main_menu' %>
	<div id="sub_nav">
		<ul>
			<li>
				<%= link_to "Edit", edit_admin_preference_path(@preference), :title => "Edit site preferences." %>
			</li>
		</ul>
	</div>
<% end %>
<div id="content_centered">
	<%= render :partial => "preference" %>
	<div class="clear">&nbsp;</div>
</div>