<% content_for :header do %>
	<%= render :partial => 'admin/shared/main_menu' %>
	<div id="sub_nav">
		<ul>
			<li></li>
		</ul>
	</div>
<% end %>
<div id="content_centered">
	<%= render :partial => "preference" %>
	<div class="clear">&nbsp;</div>
</div>