<div id="content_centered">
	<h3>Forgot Password</h3>
	<br />
	<div id="login_form">
		<% form_tag request_password_reset_admin_users_path do %>
			<div class="field_element">
				<p>Fill out the form below and instructions to reset your password will be emailed to you.</p>
			</div>
			<div class="field_element">
				<%= label_tag "email" %>
				<%= text_field_tag "email" %>
			</div>
			<div class="field_element">
				<ul class="login_actions">
					<li>
						<%= submit_tag "Reset my password", :class => "submit" %>
					</li>
				</ul>
			</div>
		<% end %>
	</div>
	<div class="clear">&nbsp;</div>
</div>